<!-- dashboard.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
       
        .like-btn {
            background-size: cover;
            width: 24px;
            height: 24px;
            border: none;
            cursor: pointer;
            transition: transform 0.2s ease-in-out;
            background-image: url('https://t3.ftcdn.net/jpg/03/21/22/56/360_F_321225614_eUlLLhZXqwbjEYVEeSTnf6vV3PYo1DzV.jpg'); 
        }
        .like-btn.red-heart {
            background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Heart_coraz%C3%B3n.svg/1200px-Heart_coraz%C3%B3n.svg.png'); 
        }
        .like-btn.clicked {
            transform: scale(1.2);
        }
    </style>
</head>
<body class="bg-gray-100 font-sans text-gray-800"> 
  <div class="container mx-auto px-4">
    <h1 class="mt-8 mb-4 text-3xl font-semibold text-blue-900">Complaints</h1> 

    <ul class="space-y-4">
        <% secrets.forEach((secret) => { %>
            <li class="bg-white p-4 rounded-lg shadow-md hover:shadow-lg transition duration-300"> 
                <div class="flex items-center justify-between mb-2"> 
                    <div>
                        <strong class="text-lg font-semibold"><%= secret.text %></strong> 
                        <em class="text-sm text-gray-600 block"><%= secret.time.toLocaleString('en-IN',{ timeZone: 'Asia/Kolkata' }) %></em> 
                    </div>
                    <div>
                        <button class="like-btn focus:outline-none <%= secret.ids.includes(googleId) ? 'red-heart' : '' %>" data-index="<%= secret.index %>" title="like"></button> 
                        
                        <span class="like-count ml-2"><%= secret.likes %></span>
                    </div>
                </div>
            </li>
        <% }); %>
    </ul> 

  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        
    function attachLikeButtonListener() {
       
        $('.like-btn').off('click').on('click', function() {
            var button = $(this);
            var index = button.data('index');
        
            
            if (!button.hasClass('clicked')) {
                
                button.addClass('clicked');
                
                button.toggleClass('red-heart');
                
                setTimeout(function() {
                    button.removeClass('clicked');
                }, 200);
            }
        
            $.ajax({
                url: '/like/' + index, 
                type: 'POST', // HTTP method
                success: function(data) {
                    console.log("Success:", data); 
                    
                    var likeCountSpan = button.siblings('.like-count');
                    likeCountSpan.text(data.likes); 
                },
                error: function(xhr, status, error) {
                    console.error('Error:', error); 
                }
            });
        });
    }


   
    
        $(document).ready(function() {
            attachLikeButtonListener();
            console.log(attachLikeButtonListener())
        });
    </script>
</body>
</html>
